# ===============================
# Entornos virtuales de Python
# ===============================
.venv/
venv/
env/

# ===============================
# Variables de entorno (credenciales)
# ===============================
.env

# ===============================
# Cache y archivos compilados de Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Archivos de VS Code / IDEs
# ===============================
.vscode/
.idea/

# ===============================
# Archivos del sistema operativo
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
